<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lingvo.NNER.MarkupCorpusTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <!--
    <add key="MARK-1" value="tag-name: N; background-color: Red;       title: NAME;" />
    <add key="MARK-2" value="tag-name: J; background-color: #FFFFEB00; title: ORG;"  />
    <add key="MARK-3" value="tag-name: G; background-color: Lime;      title: GEO;"  />
    <add key="MARK-4" value="tag-name: P; background-color: Orange;    title: PROD;" />
    <add key="MARK-5" value="tag-name: E; background-color: Fuchsia;   title: ENTR;" />
    <add key="MARK-6" value="tag-name: Name; background-color: rgb(167, 40, 40);   title: Name;" />
    -->
    <add key="MARK-1" value="tag-name: N;  background-color: rgb(167, 40, 40);  color: rgb(255, 255, 255); title: Person;" />
    <add key="MARK-2" value="tag-name: J;  background-color: rgb(0, 0, 192);    color: rgb(255, 255, 255); title: Organization;"  />
    <add key="MARK-3" value="tag-name: G;  background-color: rgb(15, 138, 36);  color: rgb(255, 255, 255); title: Geo/Location;"  />
    <!--
    <add key="MARK-1" value="tag-name: PER;  background-color: rgb(167, 40, 40);  color: rgb(255, 255, 255); title: Person;" />
    <add key="MARK-2" value="tag-name: ORG;  background-color: rgb(0, 0, 192);    color: rgb(255, 255, 255); title: Organization;"  />
    <add key="MARK-3" value="tag-name: LOC;  background-color: rgb(15, 138, 36);  color: rgb(255, 255, 255); title: Geo/Location;"  />
    <add key="MARK-4" value="tag-name: MISC; background-color: rgb(185, 69, 181); color: rgb(255, 255, 255); title: Miscellaneous;" />
    -->

    <add key="ShowSplashOnStartup"         value="true"/>
    <add key="ShowOpenFileDialogOnStarted" value="true"/>
    <add key="AutoOpenLastOpenedFile"      value="true"/>
    <add key="MaxChosenWordsInlinesCount"  value="200" />
    <add key="ChosenWordsSelectionMethod"  value="All" /> <!--ItalicFontStyle, OverAndUnderlineLine, All-->
  </appSettings>

  <userSettings>
    <Lingvo.NNER.MarkupCorpusTool.Properties.Settings>
      <setting name="LastOpenedFileName" serializeAs="String">
        <value/>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WindowRect" serializeAs="String">
        <value>0,0,0,0</value>
      </setting>
      <setting name="PageSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DocumentZoom" serializeAs="String">
        <value>100</value>
      </setting>
    </Lingvo.NNER.MarkupCorpusTool.Properties.Settings>
  </userSettings>
</configuration>
