<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SentSplitterResourcesXmlFilename" value="../../../[resources]/tokenizing/sent-splitter-resources.xml" />
    <add key="UrlDetectorResourcesXmlFilename"  value="../../../[resources]/tokenizing/url-detector-resources.xml" />
    
    <add key="INPUT_FOLER"     value="../../../[resources]/train/marked_up/2" />
    <add key="OUTPUT_FILENAME" value="../../../[resources]/train/marked_up/2/train_ner_de__union.txt" />
  </appSettings>
</configuration>
