<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SOURCE_FOLDER" value="..\..\..\[resources]\" />
    <add key="DEST_FOLDER"   value="..\..\..\[resources-bin]\" />
    <add key="DEST_FILENAME" value="..\..\..\[resources]\Lingvo.NER.Rules.Resources.bin" />    
  </appSettings>
</configuration>
