/*span.O[ner], span.Other[ner] { margin-left: inherit; border: inherit; font-weight: inherit; }
span[ner] { margin-left: 2px; border: 1px dotted silver; font-weight: bold; }*/

span.ACTIVE_NER_ENTITY {
    /*background: repeating-linear-gradient( 135deg, transparent, transparent 5px, #e2e2ff 5px, #d2d2ff 10px );*/
    /*background: repeating-linear-gradient( 135deg, transparent, transparent 5px, lavender 5px, lavender 10px );*/
    border: 1px solid black !important;
}

span.B-PER, span.I-PER, span.PER, span.PERSON, span.PERSON__NNER,
span.B-LOC, span.I-LOC, span.LOC, span.LOCATION, span.LOCATION__NNER,
span.B-ORG, span.I-ORG, span.ORG, span.ORGANIZATION, span.ORGANIZATION__NNER,
span.B-MISC, span.I-MISC, span.MISC, span.MISCELLANEOUS, span.MISCELLANEOUS__NNER { border: 1px dotted silver; border-radius: 2px; font-weight: bold;  }

span.B-PER, span.I-PER, span.PER, span.PERSON, span.PERSON__NNER { color: rgb(167, 40, 40); }
span.B-LOC, span.I-LOC, span.LOC, span.LOCATION, span.LOCATION__NNER { color: rgb(15, 138, 36); }
span.B-ORG, span.I-ORG, span.ORG, span.ORGANIZATION, span.ORGANIZATION__NNER { color: rgb(0, 0, 192); }
span.B-MISC, span.I-MISC, span.MISC, span.MISCELLANEOUS, span.MISCELLANEOUS__NNER { color: rgb(185, 69, 181); }

