<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Lingvo.NER.Rules.Config" type="Lingvo.NER.Rules.ConfigSectionHandler, Lingvo.NER.Rules.config" requirePermission="false"/>
  </configSections>

  <Lingvo.NER.Rules.Config>
    <RESOURCES baseDir="../../../[resources]">
      <URL_DETECTOR_RESOURCES         value="_CommonResources/url-detector-resources.xml" />
      <SENT_SPLITTER_RESOURCES        value="_CommonResources/sent-splitter-resources.xml" />
      <EXCLUDED_NAMES                 value="Names/excluded-names.xml" />
      <NER_TEMPLATE                   value="_CRFModel/template_ner.txt" />
      <NER_MODEL                      value="_CRFModel/model_pa_3e_(minfreq-1)_en.crf" />
      <CITIES                         value="Address/cities.txt"                                  capacityOneWord="11741"  capacityMultiWord="480" />
      <STREETS                        value="Address/streets.txt"                                 capacityOneWord="206064" capacityMultiWord="693187" />
      <ZIP_CODES                      value="Address/zipcodes.txt"                                capacity="8308" />
      <BANK_NUMBERS                   value="BankAccounts/bankCodes.txt"                          capacity="4000" />
      <PHONE_NUMBERS                  value="PhoneNumbers/phoneNumbers.txt"                       capacity="5500" />
      <FIRST_NAMES                    value="Names/firstnames.txt"                                capacity="38914" />
      <SUR_NAMES                      value="Names/surnames.txt"                                  capacity="132631" />
      <CAR_NUMBERS                    value="CarNumbers/carNumbers.txt"                           capacity="800" />
      <PASSPORT_IDCARD_NUMBERS        value="PassportIdCardNumbers/old_PassportIdCardNumbers.txt" capacity="2000" />
      <DRIVER_LICENSES                value="DriverLicenses/driverLicenses.txt"                   capacity="700" />
      <TAX_IDENTIFICATIONS            value="TaxIdentifications/old_TaxIdentifications.txt"       capacity="350" />
      <BIRTHPLACES                    value="Birthplaces/birthplaces.txt"                         capacity="2000" />
      <BIRTHPLACE_PREAMBLES           value="Birthplaces/birthplacePreambles.txt"                 capacity="100" />
      <MARITAL_STATUSES               value="MaritalStatuses/maritalStatuses.txt"                 capacity="150" />
      <MARITAL_STATUS_PREAMBLES       value="MaritalStatuses/maritalStatusPreambles.txt"          capacity="50" />
      <NATIONALITIES                  value="Nationalities/nationalities.txt"                     capacity="2000" />
      <NATIONALITY_PREAMBLES          value="Nationalities/nationalityPreambles.txt"              capacity="100" />
      <COMPANY_VOCAB                  value="Companies/companies.txt"                             capacity="57000" />
      <COMPANY_PREFIXES               value="Companies/companyPrefixes.txt"                       capacity="10" />
      <COMPANY_SUFFIXES               value="Companies/companySuffixes.txt"                       capacity="100" />
      <COMPANY_PREFIXES_PREV_SUFFIXES value="Companies/companyPrefixesPrevSuffixes.txt"           capacity="25" />
      <COMPANY_EXPAND_PREAMBLES       value="Companies/companyExpandPreambles.txt"                capacity="25" />      
    </RESOURCES>
  </Lingvo.NER.Rules.Config>
  
  <appSettings>
    <!--<add key="RESOURCE_ASSEMBLY_FOLDER" value="../../../ResourceConverting/Lingvo.NER.Rules.Resources/bin/net7.0" />-->
    <!--<add key="RESOURCE_FILENAME" value="../../../[resources]/Lingvo.NER.Rules.Resources.bin" />-->

    <add key="TEST_INPUT_FILENAME_1"  value="../TEST_INPUT_FILE_1.json" />
    <add key="OUTPUT_HTML_FILENAME_1" value="../OUTPUT_HTML_FILENAME_1.html" />

    <add key="TEST_INPUT_FILENAME_2"  value="../TEST_INPUT_FILE_2.xml" />
    <add key="OUTPUT_HTML_FILENAME_2" value="../OUTPUT_HTML_FILENAME_2.html" />
  </appSettings>
</configuration>
